.weather{
    place-self: center;
    padding: 40px;
    border-radius: 15px;
    background-image: linear-gradient(45deg, #49a09d, #5f2c82);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
  position: relative;
  display: inline-block; 
  width: 320px; 
}

.search-bar input {
  width: 100%;
  height: 30px;           
  padding: 0 50px 0 12px;  
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-bar img {
  position: absolute;
  right: 8px;              
  top: 50%;
  transform: translateY(-50%);
  height: 90%;             
  width: auto;
  /* pointer-events: none;     */
}

.weather-icon{
    width: 100px;
    height: 100px;
    margin-top: 30px;
}

.temperature{
    font-size: 48px;
    color: white;
    margin: 10px 0 0 0;
}

.location{
    font-size: 24px;
    color: white;
    margin: 5px 0 0 0;
}

.humidity-style{
    height: 40px;
    margin-top: 10px;
}

.weather-details{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    color: white;
    justify-content: space-evenly;
}

.weather-details .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
}

.humidity-title{
    font-size: 26px;
    margin: 0;
}
